<div class="row"  >
  <mat-toolbar color="primary" style="z-index: 10" class="mat-elevation-z4" *ngIf="data.isAuthenticated" >
      &nbsp;&nbsp;My App&nbsp;&nbsp;
    <div class="col-md-4">        
        <button mat-button routerLink="/master">Master</button>
        <button mat-button routerLink="/detail">Detail</button>
      </div>
      <div class="col-md-4">
          <menu1></menu1>
    </div>
    <div class="col-md-offset-4">        
        <menu2></menu2>
    </div>
        
  </mat-toolbar>
  <br/>
  <div class="row">
    <mat-card *ngIf="data.isAuthenticated">  
      <router-outlet></router-outlet>
    </mat-card>
  </div>
  <div class="row" style="margin-top:10%;" >
    <mat-card *ngIf="!data.isAuthenticated">  
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</div>
