<mat-toolbar style="z-index: 10" class="mat-elevation-z4">
  My App&nbsp;&nbsp;
    <div>
        <button mat-button routerLink="/home" >Home</button>
        <button mat-button routerLink="/master">Master</button>
        <button mat-button routerLink="/detail">Detail</button>
        <button mat-button>List</button>
        <span style="margin-right:78%;" ></span>          
        <button mat-button routerLink="/registration" matTooltip="Registration"><mat-icon>assignment</mat-icon></button>
        <button mat-button routerLink="/login" matTooltip="Login"><mat-icon>account_circle</mat-icon></button>
        <!-- <button mat-button color="error" routerLink="/registration" matTooltip="Registration"><mat-icon>assignment</mat-icon></button>
        <button mat-button color="secundary" routerLink="/login" matTooltip="Login"><mat-icon>account_circle</mat-icon></button>       -->
    </div>
</mat-toolbar>

<br/>
<mat-card>  
  <router-outlet></router-outlet>
</mat-card>