<mat-card>
  <div class="row">
    <div class="col-md-4 col-sm-2">
      <mat-form-field style="width:100%;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>  
  </div>      
</mat-card>
<br/>
  <mat-card *ngIf="spinner">                  
    <div class="col-md-6"></div>
    <div class="col-md-6">        
      <mat-spinner  color="primary" diameter="70"></mat-spinner>        
    </div>  
  </mat-card>  

<div class="row">  
  <div class="col-md-12" *ngIf="!spinner">
    <mat-card>        
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        
        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
          
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
          
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
          
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Debit </th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="element.type=='debit'"> {{element.value | currency:'USD' }} </span> </td>
          </ng-container>
          
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Credit </th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="element.type=='credit'"> {{element.value | currency:'USD' }} </span> </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef > Actions </th>
            <td mat-cell *matCellDef="let element">
              <mat-icon routerLink="/view/{{element.position}}" >visibility</mat-icon>&nbsp;
              <mat-icon>edit</mat-icon>&nbsp;
              <mat-icon>delete_sweep</mat-icon>
            </td>
          </ng-container>
          
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      
    </mat-card>
    </div>
</div>


<div style="position: fixed;top: 87%;right: 5%;" class="row" *ngIf="data.isAuthenticated">
  <div class="pull-right">
    <button mat-fab color="primary" (click)="openDialog()"><mat-icon>add</mat-icon></button>
  </div>
</div>

